#set($layout = "layout/admin/admin.vm")
#define($navActive)admin-role#end
#define($admin_content)

<style>
    #content,#remark,#protection,#parameters{
        margin-left:10em;
    }
</style>
<div class="open-breadcrumb">
    <strong>
        <a href="#">安全设置</a>
    </strong>
    <span> &nbsp;&gt;&nbsp;</span>
    <strong>
        <a href="#">角色管理</a>
    </strong>
    <span> &nbsp;&gt;&nbsp;<a
            href="#">添加</a>
    </span>
</div>
<form class="pure-form pure-form-aligned" action="save" method="post" >
    <fieldset>
        <div class="pure-control-group">
            <label for="name">角色名称</label>
            <input id="name" name="name" type="text"
                   placeholder="角色名称" class="pure-input-1-2"/>
        </div>
        <div class="pure-control-group">
            <label for="auth">权限</label>
            <div id="content">
                <script type="text/javascript">
                    d = new dTree('d');
                    d.config.check = true;
                    d.config.name = "auth";
                        #foreach( $auth in $auths )
                        d.add($auth.id,$auth.pid,'$auth.displayName','#');
                        #end
                    document.write(d);
                    d.closeAll();
                </script>
            </div>
        </div>
        <div class="pure-control-group">
            <button type="submit" class="pure-button pure-button-primary open-right">提交</button>
        </div>
    </fieldset>
</form>
#end
#define($admin_js)
<script>
    $(document).ready(function () {
        $("#security-li").addClass("active open");
        $("#security-li ul").show();
        $("#security-li-role").addClass("active");
    });
</script>
#end